<div class="body-wrap"> 
	<!-- Stack the columns on mobile by making one full-width and the other half-width -->
	<div class="row">
	  <div class="col-xs-12 col-md-8 col">
	  	<ul class="users-list">
	  		
	  	</ul>
	  </div>
	  
	  <div class="col-xs-6 col-md-4 col">
	  	<div class="user-activity-wrap">

	  	</div>
	  	<div class="user-join-wrap">
	  		<form id="join-user">
	  			<div class="form-group ">
	  				<div class="col-xs-9">
				    	<input type="text" class="form-control" id="user-name" placeholder="Username">
				    </div>
				    <button type="submit" id="join-btn" class="btn btn-default" >Join</button>
				</div>
	  		</form>
	  	</div>
	  </div>
	</div>
</div>