body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.body-wrap {
	max-width: 1000px;
	height: 500px;
	border: 1px solid black;
	margin: 0 auto;
}

.row { margin: 0; }

.row .col { height: 500px; border: 1px solid black; margin: 0;}

.row .col-md-8 { border-top: none; border-left: none; border-bottom: none;}

.row .col-md-4 { border-top: none; border-right: none; border-left: none; border-bottom: none; padding-right: 0; padding-left: 0;}

.user-join-wrap { width: auto; height: 100px !important; background-color: #5677fc; padding-top: 30px;}

.user-activity-wrap { width: auto; background-color: #f0f4c3; height: 80%; }

.users-list { margin-top: 10px; }

.users-list li{ list-style: none; margin-top: 5px; }

