body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.body-wrap {
	max-width: 1000px;
	height: 500px;
	border: 1px solid black;
	margin: 0 auto;
}